.button {
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: #835afd;
  color: #f8f8f8;
  padding: 0 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0;

  transition: filter 0.2s;

  &.outlined {
    background: #f8f8f8;
    border: 1px solid #835afd;
    color: #835afd;
  }

  &.cancel {
    background: #dbdcdd;
    color: #737380;
  }

  &.danger {
    background: #e73f5d;
  }

  &.outlined:not(:disabled):hover {
    border: 1px solid #6138db;
    color: #6138db;
  }

  &:not(:disabled):not(.outlined):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
